{% extends "base.html" %}

{% block title %}{{ material.title }}{% endblock %}

{% block content %}

<div class="container py-5">

    <a href="{{ url_for('materials_page') }}"
       class="btn btn-outline-secondary mb-4">

        ← Назад

    </a>

    <div class="card p-5">

        <h1>

            {{ material.icon }}
            {{ material.title }}

        </h1>

        <hr>

        <p>

            <b>Предмет:</b>
            {{ material.subject }}

        </p>

        <p>

            <b>Класс:</b>
            {{ material.grade }}

        </p>

        <p>

            <b>Тип материала:</b>
            {{ material.type }}

        </p>

        <p>

            {{ material.description }}

        </p>

        <a href="{{ url_for('material_page', material_id=material.id) }}"
   class="btn {{ material.button }} mt-auto">

    Подробнее

</a>

    </div>

</div>

{% endblock %}